@model TrashCollectorV2.Models.ViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script type="text/javascript">
    function ShowHideDiv(checkbox) {
        var suspensionDate = document.getElementById("suspensionDate");
        suspensionDate.style.display = checkbox.checked ? "block" : "none";
    }
    </script>

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.PickupDay" class="control-label"></label>
                <select asp-for="Account.PickupDay" class="form-control">
                    <option value="0">Sunday</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Account.OneTimePickup" class="control-label"></label>
                <input asp-for="Account.OneTimePickup" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="Account.IsSuspended" class="control-label  suspend"></label>
                <input type="checkbox" id="checkbox" onClick="ShowHideDiv(this)" asp-for="Account.IsSuspended" />
            </div>
            <div id="suspensionDate" style="display:none">
                <div class="form-group">
                    <label asp-for="Account.StartDate" class="control-label"></label>
                    <input asp-for="Account.StartDate" class="form-control" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="Account.EndDate" class="control-label"></label>
                    <input asp-for="Account.EndDate" class="form-control" type="date" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
