@model List<Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>List of today's Customers</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Street Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                <a class = "btn btn-outline-success" asp-action="Confirm" asp-route-accountId="@item.AccountId">Confirm Pickup</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="FilterByDay" class="btn btn-outline-info">Filter Customer Database</a>
